* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

fieldset {
  border: none;
}

label {
  display: block;
}

input,
button {
  display: block;
  padding: 10px;
  border: 1px solid silver;
}

.container {
  max-width: 500px;
  margin: 50px auto;
}

.form {
  margin-bottom: 20px;
}
.form__input {
  margin-bottom: 10px;
}

.error {
  position: relative;
}
.error::before {
  content: attr(data-helper-text);
  font-size: 10px;
  font-weight: bold;
  display: block;
  padding: 3px;
  background: white;
  color: red;
  position: absolute;
  bottom: -7px;
  left: 10px;
}

.error input {
  border-color: red;
}

.form-valid {
  border-color: green;
  color: green;
}

.form-notvalid {
  border-color: red;
  color: red;
}

